{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
     
{% for restss in restsowned %}  
<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
<div class="mdl-card">
  <div class="mdl-card__title">
     <h2 class="mdl-card__title-text">{{restss.restaurant.rname}}<br>{{restss.restaurant.street_address}}</h2>
  </div>
  <div class="mdl-card__media">
    <img src="{{ MEDIA_URL }}{{ restss.imagecontent.url }}" width="173" height="157" border="0" alt=""
     style="padding:10px;">
  </div>
  <div class="mdl-card__supporting-text">
  {{restss.restaurant.description}}
  </div>
  <div class="mdl-card__actions">
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" >
  <a href="/ownerTableBooking/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">Manage Bookings</a></button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  <a href="/ownerMenuList/{{restss.restaurant.id}}" style="text-decoration:none">Manage Menus</a>
</button>
     
  </div>
</div>
</div>

{% endfor %}
</div>
{% endblock %}

{% block script_content %}
{% endblock %}